services:
  nginx:
    image: nginx:alpine
    container_name: greatfood-nginx
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx/nginx-docker.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    networks:
      - app

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: greatfood-php
    env_file:
      - .env
    networks:
      - app
    volumes:
      - .:/app
      - vendor_data:/app/vendor

networks:
  app:

volumes:
  vendor_data:
